name: Lint
on: [push, pull_request]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: "3.9.2"

      - uses: actions/checkout@v2
      - name: Lint
        run: |
          pip install flake8
          flake8 main.py
